table tr td{
  font-size: 18px;
}
.btn{
  font-size: 18px;
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
}
section {
  display: none;
}
#nav{
  height: 50px;
  position: fixed;
  width: 100%;
  right: 0;
  margin-left: 230px;
  z-index: 10;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F7CCAC;
  /* background-color: black; */
}
#nav img{
  width: 40px;
  /* margin: auto; */
}
.drop-down{
  right: 25px;
  top: 10px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.082);
  position: fixed;
  z-index: 20;
  display: flex;
}
.drop-down img{
  width: 30px;margin:auto;
}
.side-bar{
  width: 230px;
  height: 100vh;
  background-color: #F7CCAC;
  z-index: 11;
  display: flex;
  flex-direction: column;
  position: fixed;
  animation-duration: 2s;
}
.side-bar .logo{
  
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
/* .side-bar img{
  margin: auto;
} */

.side-bar a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(71, 71, 71);
  width: 100%;
  height: 60px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  
}

.side-bar a img{
  width: 30px;
}
.side-bar :hover{
  background-color: rgba(128, 128, 128, 0.185);
}

.main{
  margin-left: 230px;
  width: 100vmax - 240px;
  
  padding-top: 50px;
  background-color: white;
}

.main .main-account{
  display: flex;
}
.main .main-account .circle-avatar{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: grey;
  display: flex;
}


@media screen and (max-width:576px) {
  .side-bar{
    display: none;
  }
  #nav{
    display: none;
  }
  .main{
    margin-left: 0px;
    width: 100% ;
    padding-top: 0;
    /* background-color: aqua; */
  }
  section{
    display: block;
    
  }
  nav {
    background-color: #F7CCAC;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  nav .logo{
    margin: auto;
  }
  nav button{
    font-size: 40;
  }
  .container-fluid{
    display: flex; justify-content:space-between;
    padding-right: 40px;
    padding-left: 40px;
    
  }
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #2d7ef7;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}