.card-container{
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.card-product {
  width: 200px;
  margin: 20px;
}
.card-product a{
  font-size: 12px;
  margin-top: 10px;
}
.img-product{
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}